$background-color: #ededed;
$font-color: #333;

$accent-color-1: green;

$modal-background: rgba(0,0,0,0.4);
$modal-content-background: #fff;
$error-color: #f00;


$nav-link-color: $accent-color-1;
$nav-link-hover-color: lighten($accent-color-1, 15%);